:root{ 
	/* Colors */
	/* Primary */
	--strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  
	/* Neutral */
	--white: hsl(0, 0%, 100%);
	--dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  
	/* font */
	--font-family: 'Bai Jamjuree', sans-serif;
}
*{
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  text-align: center;
}
body p{
  color: var(--grayish-blue);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h2{
  font-size: 33px;
  margin-bottom: 22px;
}
h3{
  font-size: 24px;
  margin-bottom: 15px;
}

.padding{
  margin: 0 31px 0 31px ;
}

/*-------------------------------------------header-------------------------------------------*/  
.page-wrapper,.page,.btn{
  font: 400 18px var(--font-family);
}
.header-img{
  padding: 150px 0px 80px 0px;
  background: url('../images/bg-header-mobile.png') no-repeat top ;
  background-size: cover;
}
.header-description-text p{
  margin-bottom: 40px;
}
.btn-block{
  display: inline-flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 150px;
}
.btn{
  padding: 16px 80px 16px 80px;
  font-weight: 600;
  color: var(--white);
  border-radius: 25px; 
  border: none;
}
.btn-ios{
  background-color: var(--strong-cyan);
  border-bottom: 2px solid hsl(171, 66%, 38%);
  box-shadow: 0px 7px 29px -7px rgba(38,186,164,0.7);
}
.btn-mac{
  background-color: var(--light-blue);
  border-bottom: 2px solid hsl(233, 46%, 49%);
}
/*---------------------------------first section snippets-------------------------------------------*/  
.homepage-snippets-img{
  margin: 75px 0px 60px 0px;
}
.homepage-snippets-img img,.homepage-clipboard-img img{
  width: 100%;
}
.homepage-snippets-features li,.homepage-clipboard-bottom-text p{
  margin-bottom: 60px;
}
/*---------------------------------second section clipboard-------------------------------------------*/  
.homepage-clipboard-text {
  margin: 250px 0px 75px 0px;
}
.homepage-clipboard-img{
  margin-bottom: 100px;
}
/*----------------------------------third section workflow-------------------------------------------*/  
.homepage-workflow-features li img{
  margin: 70px 0px 45px 0px;
}
.homepage-workflow-text p{
  margin-bottom: 30px;
}
/*----------------------------------fourth section companies-------------------------------------------*/  
.homepage-companies-logos{
  margin: 150px 0px 220px 0px;
}
.homepage-companies-logos ul {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
/*-------------------------------------------footer-----------------------------------------------------------*/
footer{
  background-color: hsl(0, 0%, 96%);
}
.page-footer{
  padding: 55px 30px 55px 30px;
  text-align: center;
}
.page-footer-page ul{
  margin: 50px 0px 50px 0px;
  display: grid;
  grid-gap: 30px;
}
.page-footer-page ul li{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.page{
  color: var(--dark-grayish-blue);
}
.page-footer-media {
  display: flex;
	justify-content: center;
}
.page-footer-media ul{
  display: flex;
  column-gap: 50px;
}
.fa-brands{
  font-size: 25px;
  color: var(--dark-grayish-blue);
}
.btn:hover{
  cursor: pointer;
  transform: translate(-1px, -1px);
}
.btn:active{
  transform: translate(1px,1px);
}
.media:hover,.page:hover{
  color: var(--strong-cyan);
}
.fa-brands:hover{
  transition: color 500ms;
  color: var(--light-blue);
}
@media screen and (min-width: 980px){
  body{
    background: url('../images/bg-header-desktop.png') no-repeat top ;
    background-size: contain;
    width: 100%;
  }
  .padding{
    margin: 0 0px 0 0px ;
  }
   /*-------------------------------------------header-------------------------------------------*/  
  .header-img{
    background: none;
  }
  .header-description,.homepage-snippets-text,.homepage-clipboard-bottom,.homepage-clipboard-text{
    width: 100%;
    max-width: 700px;
  }
  .header-description-text h2{
    font-size: 41px;
  }
  .btn-block{
    flex-direction: row;
  }
  .btn{
    padding: 16px 40px 16px 40px;
  }
  .header-description-flex,.homepage-clipboard-bottom-flex,.homepage-clipboard,.homepage-snippets,.homepage-workflow-features-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   /*---------------------------------first section snippets-------------------------------------------*/  
  .homepage-snippets-bootom-wrapper{
    width: 100%;
    display: flex;
  }
  .homepage-snippets-bootom{
    display: flex;
    margin-top: 80px;
  }
  .homepage-snippets-img{
    margin: 0px 0px 0px 0px;
    margin-left: -37px;
  }
  .homepage-snippets-features{
    text-align: left;
    margin: 70px 0px 0px 100px;
  }
  .homepage-snippets-features ul{
    max-width: 400px;
  }
   /*---------------------------------third section workflow-------------------------------------------*/  
  .homepage-workflow-features{
    max-width: 1250px;
  }
  .homepage-workflow-features ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 25px;
  }
  .homepage-workflow-features .homepage-workflow-img1 img{
    margin: inherit;
    margin: 70px 0px 37px 0px;
  }
  .homepage-workflow-features li p{
    line-height: 30px;
  }
   /*---------------------------------fourth section companies-------------------------------------------*/  
  .homepage-companies-logos ul{
    flex-direction: row;
    gap: 0px;
    justify-content: space-evenly;
  } 
   /*-------------------------------------------footer-----------------------------------------------------------*/
  .page-footer {
    display: grid;
    grid-template-columns: 0.5fr 1.7fr 0.8fr;
    place-items: center;
  }
  .page-footer-page{
    place-self: normal;
  }
  .page-footer-page ul{
    grid-template-columns: repeat(auto-fill,270px);
    grid-template-areas: 
    "f pp ig "
    "cu pk "" "
    ;
    grid-gap: 0px;
    row-gap: 30px;
    margin: 30px 0px 30px 0px;
  }
  .page-f{
    padding-right: 34px;
    grid-area:f;
  }
  .page-cu{
    padding-right: 17px;
    grid-area:cu;
  }
  .page-pp{
    grid-area:pp;
  }
  .page-pk{
    grid-area:pk;
  }
  .page-ig{
    grid-area:ig;
  }
}